<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel ="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
    <body>
    <div class="Bar">
        <button class="Shopping_Cart">
            <i class='bx bx-cart'></i>
        </button>
        <button class="User_Icon">
            <i class='bx bx-user'></i>
        </button> 
    </div>
    <div class="Circle">
        <div class="Kong_Fuong_Chicken">
    <img src="Image/Kong Fuong Chicken.png" alt=""></div>
        </div>
    
    <div class="Post"> 
        <div class="Navigation"> 
            <p><a href="#"><h2>Danh mục sản phẩm</h2></a></p>
            <p><a href="#"><h2>Danh mục combo</h2></a></p>
            <p><a href="trangthaidon.html"><h2>Trạng thái đơn hàng</h2></a></p>
            <p><a href="#"><h2>Lịch sử đặt hàng</h2></a></p>
        </div>    
    </div>
    <div class="Status">
        <div class="step">
            <img src="Image/Ordered.png" alt="Đơn đã đặt">
                <div>Đơn đã đặt</div>
                <div class="time">20:00 13/10/2024</div>
            </div>
            <img src="Image/Arrow.png">
            <div class="step">
                <img src="Image/Payments.png" alt="Xác nhận thanh toán">
                <div>Đã xác nhận thông tin thanh toán</div>
                <div class="time">20:05 13/10/2024</div>
            </div>
            <img src="Image/Arrow.png">
            <div class="step">
                <img src="Image/Delivering.png" alt="Giao cho ĐVVC">
                <div>Đã giao cho ĐVVC</div>
                <div class="time">20:25 13/10/2024</div>
            </div>
            <img src="Image/Arrow.png">
            <div class="step">
                <img src="Image/Delivered.png" alt="Giao hàng thành công">
                <div>Giao hàng thành công</div>
                <div class="time">20:40 13/10/2024</div>
            </div>
            <img src="Image/Arrow.png">
            <div class="step">
                <img src="Image/Rate.png" alt="Đánh giá">
                <div>Đánh giá</div>
            </div>
        </div>
</body>